<!DOCTYPE html>
<html>
  <%- include('partials/head',{
    title : 'MOVIES'
}) %>
  <body class="index">
    <%- include('partials/header') %>
    
    <a class="btn btn-primary" href="/movies" role="button">Listado de peliculas</a>

    <img src="/img/lista.png" alt="">
  </body>
</html>
