<header class="home__header">
    <div class="home__header--top">
        <a href="/"><img src="/img/logo-DH.png" alt=""></a>
       
    </div>
    <nav class="home__header--menu">
        <div class="bg-success p-2 text-dark bg-opacity-10">
            

    </nav>
</header>